
@media (max-width:991px){
    form{
        &.contacto{
        margin: 0px 80px;
        }
    }
    .dietoterapia{
        .row{
            display: block !important;
            text-align: center !important;
            div{
                width: 100%;
                margin-bottom: 24px;
            }
            img{
                width: 80% !important;
            }
        }
    }
    .imagen{
        &.img-yin-yang{
            width: 80% !important;
        }
        &.img-tcheng{
            width: 60% !important;
        }
        &.img-ko{
            width: 60% !important;
        }
        &.img-organos{
            width: 50% !important;
        }
    }
    .yin-yang{
        .row{
            display: block !important;
            text-align: center !important;
            div{
                width: 100%;
                img{
                    width: 50% !important;
                    margin-bottom: 2em;
                }
            }
        }
    }
}
@media (min-width: 768px){
    table{
        &.tabla-sabores{
            ul{
                div{
                    &.collapse.dont-collapse-sm{
                        display: block;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    header{
        ul{
            .navbar-nav{
                margin-top: 15px;
            }
        }
    }
    .introduccion{
        padding: 15px;
    }
    .presentacion{
        .row{
            display: block !important;
            text-align: center !important;
            div{
                width: 100%;
                img{
                    width: 60%;
                    margin-bottom: 2em;
                }
            }
        }

    }
    .imagen{
        &.img-qi{
            width: 70% !important;
        }
        &.img-tcheng{
            width: 90% !important;
        }
        &.img-ko{
            width: 90% !important;
        }
        &.img-organos{
            width: 70% !important;
        }
        &.img-350{
            width: 100% !important;
        }
    }
    form{
        &.contacto{
            margin: 0px 20px !important;
        }
    }
    .mapa{
        overflow: hidden;
        position: relative;
        padding-bottom: 400px;
        height: 0;
        iframe{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    table{
        &.tabla-sabores{
            a{
                img{
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 575px){
    footer{
        .row{
            display: block !important;
            div{
                width: 100%;
                ul{
                    align-items: center !important;
                    &.links{
                        display: flex !important;
                        flex-direction: row !important;
                        margin-bottom: 30px;
                        justify-content: center !important;
                        li{
                            margin: 10px 20px;
                        }
                    }
                }
            }
        }
        .social{
            align-items: center !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    section{
        &.tratamientos{
            .row{
                display: block !important;
                text-align: center !important;
                .col{
                    margin: 25px 0px;
                    img{
                        width: 80%;
                        align-items: center !important;
                    }
                }
            }
        }
    }
    .presentacion{
        img{
            width: 80% !important;
        }
    }
    .yin-yang{
        img{
            width: 80% !important;
        }
    }
    .dietoterapia{
        .row{
            img{
                width: 100% !important;
            }
        }
    }
    section{
        &.elementos{
            text-align: center !important;
            div{
                &.row{
                    display: block !important;
                    div{
                        width: 100%;
                    }
                }
            }
        }
    }

}