$borderTable: 1px solid #555;
$borderRadius: 10px;


/* Introducción */

.introduccion{
    background-color: rgb(201, 145, 227, .5);
    border-radius: $borderRadius;
}

/* Presentación y Trabajos */

.imagen{
    width: 100% !important;
    border-radius: $borderRadius;
    &.img-yin-yang{
        @extend .imagen;
        width: 40% !important;
    }
    &.img-qi{
        width: 80% !important;
    }
    &.img-tcheng{
        width: 40% !important;
    }
    &.img-ko{
        width: 40% !important;
    }
    &.img-organos{
        width: 35% !important;
    }
    &.img-350{
        width: 350px !important;
    }
}



/* MTC */

.ideograma{
    margin-bottom: 2rem;
}

/* Bg Elementos */
section {
    $bgElementos: (
        A: rgb(70, 187, 70, 0.4),
        B: rgb(216, 83, 74, 0.4),
        C: rgb(216, 198, 38, 0.4), 
        D: rgba(140, 158, 184, 0.4),
        E: rgba(31, 90, 179, 0.4)
    );

    @each $elemento, $bgColors in $bgElementos{
        &.elemento#{$elemento}{
            background-color: $bgColors;
            border-radius: 8px;
            padding: 15px;
        }
    }
}

/* DIETOTERAPIA */
table{
    border: $borderTable;
    &.tabla-sabores{
        width: 100%;
        border-style: hidden;
        border-radius: 20px;
        box-shadow: 0 0 0 1px #555;
        border-collapse:collapse;
        border-spacing:0;
        td{
            border: $borderTable;
            font-size:14px;
            overflow:hidden;
            padding:10px 5px !important;
            word-break:normal;
            ul{
                margin: 5px 0;
                display: inline-block;
                width: 100%;
            }
        }
        th{
            border: $borderTable;
            font-size:14px;
            font-weight:bold;
            overflow:hidden;
            padding:10px 5px;
            word-break:normal;
        }
        .tg-0lax{
            text-align:left;
            vertical-align:top
        }
        a{
            text-decoration: none;
            float: right;
            margin-right: 10px;
            img{
                width: 25px;
                display: none;
            }
            &[aria-expanded="true"]{
                .img-down{
                    display: none;
                }
            }
            &[aria-expanded="false"]{
                .img-up{
                    display: none;
                }
            }
        }
        .collapsing{
            transition: 1s;
        }
    }
}
