
/* Introducción */

.introduccion{
    background-color: rgb(201, 145, 227, .5);
    border-radius: 10px;
}

/* Presentación y Trabajos */

.imagen-presentacion{
    width: 100%;
    border-radius: 10px;
}

.imagen-trabajo{
    width: 100%;
    border-radius: 10px;
}

/* Elementos */
section {
    $bgElementos: (
        A: rgb(216, 198, 38, 0.6),
        B: rgb(70, 187, 70, 0.6),
        C: rgb(216, 83, 74, 0.6), 
        D: rgb(69, 134, 231, 0.6)
    );

    @each $elemento, $bgColors in $bgElementos{
        &.elemento#{$elemento}{
            background-color: $bgColors;
            border-radius: 8px;
            padding: 5px;
        }
    }
}

/* DIETOTERAPIA */
table, th, td{
    border:1px solid black;
    &.tabla-sabores{
        width: 100%;
    }
}

img{
    &.imagen-semillas{
        width: 100%;
        border-radius: 10px;
    }
}