$borderTable: 1px solid black;
$borderRadius: 10px;


/* Introducción */

.introduccion{
    background-color: rgb(201, 145, 227, .5);
    border-radius: $borderRadius;
}

/* Presentación y Trabajos */

.imagen{
    width: 100% !important;
    border-radius: $borderRadius;
    &.img-yin-yang{
        @extend .imagen;
        width: 40% !important;
    }
    &.img-qi{
        width: 80% !important;
    }
}


/* MTC */

.ideograma{
    margin-bottom: 2rem;
}

/* Bg Elementos */
section {
    $bgElementos: (
        A: rgb(70, 187, 70, 0.4),
        B: rgb(216, 83, 74, 0.4),
        C: rgb(216, 198, 38, 0.4), 
        D: rgba(140, 158, 184, 0.4),
        E: rgba(31, 90, 179, 0.4)
    );

    @each $elemento, $bgColors in $bgElementos{
        &.elemento#{$elemento}{
            background-color: $bgColors;
            border-radius: 8px;
            padding: 5px;
        }
    }
}

/* DIETOTERAPIA */
table{
    border: $borderTable;
    &.tabla-sabores{
        width: 100%;
        border-collapse:collapse;
        border-spacing:0;
        td{
            border: $borderTable;
            font-size:14px;
            overflow:hidden;
            padding:10px 5px;
            word-break:normal;
        }
        th{
            border: $borderTable;
            font-size:14px;
            font-weight:bold;
            overflow:hidden;
            padding:10px 5px;
            word-break:normal;
        }
        .tg-0lax{
            text-align:left;
            vertical-align:top
        }
    }
}
